<% include ../partials/header %>
<div class="container">
    <h3 style="text-align:center;">Edit Comment </h3>    
      <div style="width:30%; margin :25px auto;">
          
        <form method="POST" action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT" >
            <div class="form-group">
                <input type="text" class="form-control" name="comment[text]" value="<%= comment.text %>">
             </div>
             

             <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
        </form> 
          <a href="/campgrounds/<%= campground_id %>" > Go back</a>
    </div>  
  
    
</div>




<% include ../partials/footer %>